<ion-app>

  <app-menu></app-menu>

  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
<!-- <ion-app>
  <ion-split-pane when="md" contentId="principal">
    <app-menu></app-menu>
    <ion-router-outlet id="principal"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->